body {
  font-family: Poppins, sans-serif;
  background: #f7f7f9;
  box-sizing: border-box;
  padding-left: 20px;
  overflow-x: hidden;
}

#navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 72px;
  padding: 0 10px;
}

#navigation .logo {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 20px;
  color: #3142d6;
  text-decoration: none;
}

#navigation .navlinks {
  display: none;
}

#navigation .navlinks .links {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#navigation .navlinks .links li {
  margin: 0 10px;
}

#navigation .navlinks .links li a {
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 25px;
  color: #344563;
}

.tab-title > i {
  margin-right: 50px;
}

.icons > i {
  font-size: 12px;
  margin: 1px;
}

.subtitle > i {
  color: #c1c7d0;
  width: 8px;
  height: 8px;
  padding: 0 20px;
}

#navigation .hamburger i {
  font-size: 24px;
  color: #072af5;
  cursor: pointer;
}

.container {
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 25px;
}

.paragragh {
  padding-right: 25px;
}

header {
  height: 104px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.connect-container {
  margin-top: -80px;
  margin-left: -20px;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
  padding: 0 16px;
}

.clock {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: -0.28px;
  color: #000;
  padding-left: 40px;
}

.icons {
  margin-top: 9px;
  padding-right: 20px;
}

.right-nav {
  display: none;
}

.background {
  width: 100%;
  height: 35rem;
  background-size: cover;
}

.header-background {
  width: 100%;
  height: 100%;
  background-image: url("Microverse-Student-Project-1/header-shapes\ mobile.png");
  padding: 50px 0;
  background-repeat: no-repeat;
  background-size: 100%;
}

.text-container {
  display: flex;
  flex-direction: column;
  margin: 40px 12px;
}

.title {
  flex: 1;
  width: 100%;
  height: 150px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 100px;
}

.paragraph {
  flex: 1;
  width: 100%;
  height: 146px;
  margin-top: -90px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 24px;
  color: #344563;
}

.header-handle {
  margin-top: -15px;
  margin-left: -15px;
}

.connect {
  width: 300px;
  height: 24px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 28px;
}

.social-media {
  display: flex;
  flex-direction: row;
  margin-left: 23px;
  list-style: none;
  padding-left: 0;
  margin-top: 5px;
  position: relative;
}

.bottom-container {
  margin-top: 100px;
}

.about-item {
  padding: 10px;
}

.medium {
  position: absolute;
  top: -10px;
  left: 110px;
}

.media-item {
  padding: 5px;
  color: #505f79;
}

.media-items {
  padding-left: 5px;
  padding-top: 15px;
}

.media-items:hover {
  color: lightgray;
  cursor: pointer;
}

.media-item:hover {
  color: gray;
  cursor: pointer;
}

.space {
  width: 100%;
  height: 114px;
}

.works {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 700px 700px 700px 700px;
  grid-gap: 400px;
  margin-top: 200px;
}

.cardwork {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  gap: 12px;
  width: 100%;
  height: 900px;
  background: #fff;
  border: 1px solid #dfe1e6;
  border-radius: 16px;
  padding-bottom: 90px;
  overflow-x: hidden;
}

.cardwork1 {
  height: 45rem;
}

.cardwork2,
.cardwork4 {
  flex-direction: column-reverse;
}

.snapshot {
  border-radius: 16px;
  flex: 1;
  width: 100%;
  background-image: url("Microverse-Student-Project-1/Snapshoot\ Portfolio.png");
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  margin: 15px;
}

.info {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin-left: 35%;
}

.cardwork-title {
  width: 100%;
  height: 36px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  margin-bottom: 10px;
  color: #172b4d;
}

.cardwork-title2 {
  height: 100%;
}

.subtitle {
  display: flex;
  flex-direction: row;
  padding: 10px 0 25px;
}

.company {
  width: 55px;
  height: 16px;
  padding-left: 0;
  padding-right: 10px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #344563;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.job {
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.year {
  width: 88px;
  height: 16px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 13px;
  line-height: 16px;
  color: #7a869a;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.desc {
  width: 295px;
  height: 76px;
  padding-bottom: 20px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #344563;
  flex: none;
  order: 1;
  flex-grow: 0;
}

.tags {
  margin-bottom: 20px;
  list-style: none;
  padding-left: 0;
}

.tag {
  float: left;
  text-align: center;
  margin-right: 20px;
  padding-top: 5px;
  align-items: center;
  width: 53px;
  height: 24px;
  background: #ebebff;
  border-radius: 8px;
  flex: none;
  order: 0;
  flex-grow: 0;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0.03em;
  color: #6070ff;
}

.javascript {
  width: 90px;
}

.button-container {
  position: relative;
  padding-left: 5%;
}

.button {
  box-sizing: border-box;
  position: absolute;
  top: 100px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  gap: 10px;
  width: 124px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #6070ff;
  margin-top: 10px;
  margin-left: 10%;
  background: #fff;
}

.button:hover {
  color: gray;
  color: #fff;
  background: #6070ff;
  box-shadow: 0 8px 16px rgb(64 83 252 / 24%);
  border-radius: 8px;
  cursor: pointer;
}

.button:active {
  background: #2230d2;
  color: #fff;
}

.snapshot2 {
  border-radius: 16px;
  flex: 2;
  width: 100%;
  background-image: url("Microverse-Student-Project-1/Snapshoot\ Portfolio\ \(1\).png");
  background-size: cover;
  background-position: center;
}

.snapshot3 {
  border-radius: 16px;
  flex: 2;
  width: 100%;
  background-image: url("Microverse-Student-Project-1/Snapshoot\ Portfolio2.png");
  background-size: cover;
  background-position: center;
}

.snapshot4 {
  border-radius: 16px;
  flex: 2;
  width: 100%;
  background-image: url("Microverse-Student-Project-1/Snapshoot\ Portfolio3.png");
  background-size: cover;
  background-position: center;
}

.about {
  margin-top: 250px;
  display: flex;
  flex-direction: column;
  padding: 0 22px;
  background-image: url("Microverse-Student-Project-1/Base\ about\ my\ self.png");
  background-size: cover;
  background-position: center;
  height: 1000px;
}

.about-title {
  flex: 1;
  width: 327px;
  height: 101px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.about-desc {
  margin-top: -30px;
  flex: 1;
  width: 100%;
  height: 144px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #344563;
}

.handle {
  margin-top: 0;
  margin-left: -33px;
}

.about-connect {
  width: 300px;
  height: 24px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: #7f8cff;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin-left: 32px;
}

.about-connect-icons {
  margin-left: 25px;
}

.media-container {
  flex: 1;
  width: 100%;
  margin-top: 50px;
  margin-left: -15px;
}

.about-button {
  box-sizing: border-box;
  position: absolute;
  top: -90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px;
  margin-bottom: -25px;
  gap: 10px;
  width: 170px;
  height: 48px;
  border: 1px solid #6070ff;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 17px;
  line-height: 24px;
  color: #396df2;
}

.about-button:hover {
  color: gray;
  cursor: pointer;
}

.vert-tabs {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-top: 50px;
  width: 100%;
}

.tab-list {
  list-style: none;
  padding: 20px;
}

.tab-item {
  padding: 10px;
}

.line {
  height: 1.5px;
  background: #dfe1e6;
  width: 85%;
}

.tab-title {
  flex: 1;
  height: 24px;
  margin: 15px 0 20px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  color: #000;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.tab-lang {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 0;
  height: 66.72px;
  margin: 5px 36px 7px 6px;
  background: #ececec;
  border-radius: 8px;
  padding-left: 15px;
}

.tab-text {
  margin-left: 5px;
}

.contact {
  width: 100%;
  height: 780px;
  padding: -40px;
  background-image: url("Microverse-Student-Project-1/contactme.png");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 150px;
}

.contact-container {
  padding: 24px;
  color: #fff;
}

.contact-me {
  height: 56px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  text-align: center;
  color: #fff;
}

.contact-desc {
  height: 102px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 28px;
  margin-top: -30px;
  text-align: center;
  color: #ebebff;
}

.name {
  margin-top: 100px;
}

.email {
  margin-top: 20px;
}

.name,
.email {
  width: 90%;
  height: 48px;
  background: #fff;
  border: 1px solid #cfd8dc;
  border-radius: 8px;
  padding: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #172b4d;
}

.message {
  padding: 8px;
  margin-top: 20px;
  width: 90%;
  height: 170px;
  border-radius: 8px;
  font-family: Poppins, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #b3bac5;
}

.contact-button-container {
  position: relative;
  margin-top: -10%;
  margin-left: 20%;
}

.contact-button {
  background-color: white;
  width: 50%;
  margin-top: -30px;
  padding-left: 10%;
}
